name: CI
defaults:
  run:
    shell: bash
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
        - uses: actions/download-artifact@v7
          with:
            # Name of the artifact to download.
            # If unspecified, all artifacts for the run are downloaded.
            # Optional.
            # name:

            # IDs of the artifacts to download, comma-separated.
            # Either inputs `artifact-ids` or `name` can be used, but not both.
            # Optional.
            # artifact-ids:

            # Destination path. Supports basic tilde expansion.
            # Optional. Default is $GITHUB_WORKSPACE
            # path:

            # A glob pattern to the artifacts that should be downloaded.
            # Ignored if name is specified.
            # Optional.
            # pattern:

            # When multiple artifacts are matched, this changes the behavior of the destination directories.
            # If true, the downloaded artifacts will be in the same directory specified by path.
            # If false, the downloaded artifacts will be extracted into individual named directories within the specified path.
            # Note: When downloading a single artifact (by name or ID), it will always be extracted directly to the specified path.
            # Optional. Default is 'false'
            merge-multiple: false

            # The GitHub token used to authenticate with the GitHub API.
            # This is required when downloading artifacts from a different repository or from a different workflow run.
            # Optional. If unspecified, the action will download artifacts from the current repo and the current workflow run.
            github-token: ${{ secrets.GH_TOKEN }}

            # The repository owner and the repository name joined together by "/".
            # If github-token is specified, this is the repository that artifacts will be downloaded from.
            # Optional. Default is ${{ github.repository }}
            repository: OpenRCT2/OpenRCT2

            # The id of the workflow run where the desired download artifact was uploaded from.
            # If github-token is specified, this is the run that artifacts will be downloaded from.
            # Optional. Default is ${{ github.run_id }}
            run-id: 21565272977
        - name: List files
          run: ls -laR
        - name: checksums
          run: sha256sum *
